<h3 style="margin-left: 80px; margin-top: 20px;">{{vm.title}}</h3>
<div class="income-calculator" style="margin-left: 80px; margin-top:20px; display: inline-block;">  
        <label>Anually income:</label> $<input type="number" class="annual-income" name="annual-income" value="vm.enteredIncome" ng-model="vm.enteredIncome" ng-keyup="vm.calculateTax(vm.enteredIncome)"></input>
        <!-- <input type="submit" class="button btn btn-primary" value="Calculate Tax" ng-click="vm.calculateTax(vm.enteredIncome)"></input> -->
        <input type="submit" class="button btn btn-warning" value="Reset" ng-click="vm.resultIncome()"></input>
        <br/>
        <div ng-model="vm.calcualtedResult" ng-hide="!vm.calculatedResult">
            <ul>
                <li ng-model="vm.CAPTION" ng-repeat="(k, v) in vm.calculatedResult">{{vm.CAPTION[k]}}:  {{v}}</li>
            </ul>
        </div>
</div>